@import "tailwindcss";
*{
   font-family: "Poppins", sans-serif;  font-weight: 500;
  font-style: normal;
}
.font-bold{
  font-weight: 700;
}
body{
  min-height: 100vh;
  max-height: fit-content;
  background-color:black;

}
::-webkit-scrollbar-thumb{
  background-color: aqua;
  border-radius: 8px;
}
::-webkit-scrollbar{
  width: 10px;
  background-color: black;
  
}

.cursor-default {
  cursor: url('/cursor.svg') 16 16, auto;
}
.cursor-pointer {
  cursor: url('/cursor-pointer.svg') 16 16, pointer;
}

/* Perspective for 3D effect */
.perspective-1000 {
  perspective: 1000px;
}

/* Orbit container rotates in 3D */
.orbit-3d {
  transform-style: preserve-3d;
  animation: orbit-3d-rotate 12s linear infinite;
}

@keyframes orbit-3d-rotate {
  from {
    transform: rotateX(20deg) rotateY(0deg);
  }
  to {
    transform: rotateX(20deg) rotateY(360deg);
  }
}
